__pycache__

.pytest_cache

*.csv

logs/

mlartifacts

*.db

/models

*.egg-info/


data/artifacts/01_ml_table.parquet
data/artifacts/02_labeled_data.parquet
data/artifacts/X_train_features.npz
data/artifacts/X_val_features.npz
data/artifacts/X_test_features.npz
data/artifacts/feature_names.joblib


